/* Card.css */
.card-img-top {
  transition: transform 0.3s ease-in-out; /* Added transition property for smooth effect */
}

.card-img-top:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.skeleton-loader {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
  background-color: #000000;
  transition: transform 0.3s ease-in-out; /* Added transition property for smooth effect */
}

.skeleton-loader:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.skeleton-loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(41, 41, 41, 0.8), transparent);
  animation: loading 3s infinite linear;
}

@keyframes loading {
  to {
    left: 100%;
  }
}
