.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .admin-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .admin-table th, .admin-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .admin-table tr:hover {
    background-color: #474141;
  }

  .edit-admin{
    text-align: center;
    padding-top: 30px;
  }

  .container-dark{
    background-color: #343a40; /* You can adjust the background color as needed */
    color: #fff; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box shadow */
    width: 300px;
    margin: 50px auto;
}
