
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  color: white !important;
}
#carousel{
  max-height: 500px;
}
.carousalImg{
  object-fit: contain !important;
}

/* Add a CSS class for the expanded search bar */
.expanded-search {
  width: 200px;
  transition: width 0.3s ease-in-out;
}

#carousel {
  position: relative;
}

/* Style for the search button */
.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the search input */
.search-input {
  width: 0;
  max-width: 200px;
  padding: 5px;
  transition: width 0.3s ease-in-out;
}

.close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c82333;
}

.nav-item{
  position: relative;
  display: inline-block;
}

.nav-item::before{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff; /* Set your desired line color */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-item:hover::before{
  width: 100%;
}

 .buttons {
    display: flex;
    gap: 10px;
  }

  .animated-button {
    position: relative;
    background-color: #fff;
    color: #28a745; /* Set your default text color */
    border: 1px solid #28a745; /* Set your default border color */
    padding: 8px 16px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px; /* Add rounded corners */
    transition: color 0.3s ease, background-color 0.3s ease; /* Add transitions */
  }

  .animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #28a745; /* Set your desired fill color */
    transition: left 0.3s ease; /* Set the animation duration and timing function */
    z-index: -1;
    border-radius: 8px; /* Match the button's rounded corners */
  }

  .animated-button:hover::before {
    left: 0;
  }

  .animated-button:hover {
    color: #fff; /* Change text color on hover */
    background-color: #28a745; /* Change background color on hover */
    border-color: #28a745; /* Change border color on hover */
  }